.text{
  color:black;
  width: 70%;
  &-title{
    text-align: right;
    font-size: 30px;
    border-bottom: 1px solid #666;
    padding-bottom: 40px;
  }
  &-list{
    margin-top: 50px;
    font-size: 20px;
    &__title, &__weather,&__temperature,&__date{
      font-size: 22px;
      @include d-flex(space-between,flex-end);
      margin-top: 20px;
    }
  }
  @media(max-width:992px){
    width: 65%;
    &-list__weather,&-list__temperature{
      font-size: 18px;
    }
  }
  @media(max-width:768px){
    width: 100%;
    margin: 0 50px;
  }
  @media(max-width:576px){
    margin:0;
    &-title{
      font-size: 22px;
    }
    &-list__weather,&-list__temperature{
      font-size: 16px;
    }
  }
}