*{
  font-family: 'Fjalla One';
  margin: 0;
  padding: 0;
}

@mixin d-flex($justify:center,$align:center){
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

body{
  background-color: #222;
}

.wrap{
  @include d-flex(space-between);
  margin: 0 100px;
}

@import"./map.scss";
@import"./list.scss";

// .title{
//   position: absolute;
//   right: 50px;
//   top: 20px;
// }
// h1{
//   color: white;
//   font-size: 60px;
//   margin-bottom: 10px;
//   span{
//     color: white;
//     margin-left: 50px;
//     font-size: 50px;
//     letter-spacing: 5px;
//   }
// }

// hr{
//   width: 100px;
//   margin-top: 0px;
//   margin-left: 0;
//   border: none;
//   border-bottom: solid 3px white;
// }

// //使用css轉大寫
// .forcast{
//   color: white;
//   padding-top: 20px;
//   h2,h3,h4{
//     margin: 0;
//   }
//   h3{
//     text-transform: capitalize;
//   }
// }
